/* Slideshow container */
.blog-slider__container {
    position: relative;
    padding: 10px 10px 10px 10px;
    height: 400px;
}

.blog-slider__container .blogSlides img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.input {
    width: 400px;
}

.wrapper {
    background-color: aqua;
    height: 500px;
    width: 700px;
    padding: 10px 10px 10px 10px;
}

.control-block {
    background-color: #999999;
    position: relative;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}